body.rtl div.tagsinput{
    direction: ltr;
}
body.rtl div.tagsinput input {
    width: 200px !important;
}
body.rtl div.tagsinput div {
    float: left;
}
body.rtl div.tagsinput span.tag {
    float: none;
    background: none;
    border: none;
}
body.rtl div.tagsinput span.tag a {
    font-weight: 700;
    color: #82ad2b;
    text-decoration: none;
    font-size: 11px;
    float: right;
}
body.rtl .checkbox-inline {
    padding-left: 0;
    padding-right: 0px;
    width: 15px;
    text-align: center;
    margin: 0 0 0 10px !important;
}
body.rtl .cronjob-time .form-group {
    float: right;
}
body.rtl .cronjob-time .weekdays .form-group .checkbox-inline{
    width: 50px;
    margin-left: 14px !important;
}
body.rtl .cronjob-time .weekdays .form-group .checkbox-inline label{
    min-width: 60px;
}
body.rtl .cronjob-time .form-group .checkbox-inline input[type="checkbox"] {
    display: none;
}
body.rtl .checkbox-inline label{
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    padding-right: 0;
    min-width: 20px;
    display: block;
}
body.rtl .checkbox-inline label.badge-success{
    min-width: 33px;
}